@charset "utf-8";

#wrap{overflow: hidden;}

header{width: 100%; height: 80px; background-color: transparent; border-bottom: 1px solid transparent; transition: all 0.3s;}
header .inner{width: calc(100% - 30px); margin: 0 auto; position: relative;}
header .inner h1{text-align: center; line-height: 80px;}
header .inner h1 a{color: #fff; display: inline-block; position: relative;}
header nav{position: absolute; top: 0; left: 0; width: 100%;}
header .ham{z-index: 999; position: absolute; top: 0; right: 10px;}
header .ham a {position: absolute; top: 27px; right: 0;}
header .ham a span{display: block; width: 30px; height: 2px; background-color: #fff; margin: 7px 0;}
header .ham a::before{content: ""; display: block; width: 30px; height: 2px; background-color: #fff; transition: all ease-in 0.5s;}
header .ham a::after{content: ""; display: block; width: 30px; height: 2px; background-color: #fff; transition: all ease-in 0.5s;}
header .mgnb-wrap{text-align: center; font-size: 24px; letter-spacing: 5px; background-color: #fff; height: 100%; width: 100%; position: fixed; top: 0; right: -2000px; z-index: 99;}
header .mgnb-wrap ul{margin-top: 120px;}
header .mgnb-wrap ul li{height: 120px;}
header .mgnb-wrap ul li:hover a{font-weight: bold;}
.line{width: calc(100% - 50%); height: 2px; background-color: #333; transform: scale(0); margin: 20px auto; transition: all 0.5s;}
header .mgnb-wrap ul li:hover a + div{transform: scale(1);}

header .ham.on a span{display: none;}
header .ham.on a::before{transform: rotate(45deg); margin-left: 2px; margin-top: 2px; background-color: #333;}
header .ham.on a::after{transform: rotate(-45deg); margin-left: 2px; margin-top: -2px; background-color: #333;}

header .gnb-wrap{display: none;}

#main-visual{height: 100vH; width: 100%; position: relative; margin-top: -80px;}
#main-visual .visual video{height: 100vH; width: 100%; object-fit: cover; } 
#main-visual .visual p, h3{color: #fff;}
#main-visual .visual .typing{font-size: 16px; letter-spacing: -1px; position: absolute; top: 40%; left: 50%; transform: translateX(-50%); text-shadow: 1px 1px 1px #777;}
#main-visual .visual .text{font-size: 48px; letter-spacing: -1px; position: absolute; top: 42%; left: 50%; transform: translate(-50%); text-shadow: 1px 1px 1px #777;}

.typing {height: 55px; justify-content: center; font-size: 16px; color: #fff;}
.text{font-size: 40px; margin-left: .6rem; color: #fff;}
.text::after {content: ''; margin-left: .4rem; border-right: 2px solid #777;
animation: cursor .9s infinite steps(2);}
@keyframes cursor {from { border-right: 2px solid #222; } to { border-right: 2px solid #777; }}

#about{background-color: #fff; height: 100vh;} 
#about .inner{width: calc(100% - 40px); margin: 0 auto; position: relative;}
#about .inner .a-txt{font-size: 24px; letter-spacing: 5px; font-weight: normal; text-align: center; margin-bottom: 80px;}
#about .inner .a-txt::before{content: ""; display: block; width: 1px; height: 50px; background-color: #333; margin-left: 50%;}
#about .inner .introduce{display: flex; margin-bottom: 80px;}
#about .inner .my-img{width: 150px; height: 150px; border-radius: 50%; background: url(../img/Untitled-2.png) no-repeat center center / cover; border: 1px solid #333; margin-right: 30px;}
#about .inner .my-txt{font-size: 22px; color: #555; margin-top: 20px;}
#about .inner .my-txt span{color: #333; font-weight: bold;}
#about .inner .file{display: flex; flex-wrap: wrap; justify-content: space-between;}
#about .inner .file li{margin-bottom: 100px; border-left: 1px solid #333; padding-left: 10px; width: 40%;}
#about .inner .file li h2{font-size: 20px; margin-bottom: 20px;}
#about .inner .file li p{font-size: 14px; letter-spacing: -1px;}
#about .inner .icon{display: flex; flex-wrap: wrap;}
#about .inner .icon li{width: 30px; height: 30px; margin-bottom: 20px; margin-right: 5px; background-repeat: center center; background-repeat: no-repeat; background-size: contain; border-left: none;}
#about .inner .icon li.ps{background-image: url(../img/ps.png);}
#about .inner .icon li.ai{background-image: url(../img/ai.png);}
#about .inner .icon li.pr{background-image: url(../img/pr.png);}
#about .inner .icon li.ae{background-image: url(../img/ae.png);}
#about .inner .icon li.html{background-image: url(../img/html.png);}
#about .inner .icon li.css{background-image: url(../img/css.png);}
#about .inner .icon li.jq{background-image: url(../img/jq.png);}
#about .inner .icon li.js{background-image: url(../img/jvs.png);}

.horizontal{display: flex; flex-wrap: nowrap; width: 400%;}
.horizontal > section{width: 100%; height: 100vh; position: relative;}

.horizontal{height: 100vh;}
.horizontal .port1{background: url(../img/frz.jpg) no-repeat center top / cover; width: 100%; height: 100%; background-attachment: fixed; position: relative;}

.horizontal .prt .intro{width: 100%; height: 230px; background-color: rgba(255,255,255,0.3); padding-top: 30px; padding-left: 30px; border-bottom: 1px solid #333;}


.horizontal .prt .intro h2{font-size: 36px; letter-spacing: -1px; font-weight: normal; margin-bottom: 15px;}
.horizontal .prt .intro .p1{font-size: 14px; letter-spacing: -1px; font-weight: normal; margin-bottom: 10px;}
.horizontal .prt .intro .p2{font-size: 12px; letter-spacing: -1px; font-weight: normal;}
.horizontal .prt .intro .web a{display: block; width: 70px; height: 20px; border: 1px solid #333; text-align: center; line-height: 20px; font-size: 14px; position: absolute; top: 40px; right: 20px; transition: all 0.3s;}
.horizontal .prt .intro .web:hover a{background-color: #333; color: #fff;}
.horizontal .prt .intro .des a{display: block; width: 70px; height: 20px; border: 1px solid #333; text-align: center; line-height: 20px; font-size: 14px; position: absolute; top: 70px; right: 20px; transition: all 0.3s;}
.horizontal .prt .intro .des:hover a{background-color: #333; color: #fff;}


.horizontal .prt .w-site1{width: 400px; height: 280px; background: url(../img/Asset4.png) no-repeat center center / contain; position: absolute; top: 150px; left: 20px; margin-top: 220px;}
.horizontal .prt .w-site1 .st1{position: absolute; left: 15px; top: 20px;  background: url(../img/fr_screen.png) center top / 100% auto; overflow: hidden; width: 370px; height: 180px; transition: all 3s;}

.horizontal .prt .w-site1:hover .st1{background-position: 100%;}

.horizontal .prt .p-site1{width: 100px; height: 180px; background: url(../img/Asset7.png) no-repeat center center / contain; position: absolute; top: 530px; right: 20px;}

.horizontal .prt .p-site1 .st2{position: absolute; right: 10px; top: 5px;  background: url(../img/ph-screen.png) center top / cover; overflow: hidden; width: 80px; height: 170px; border-radius: 4%; transition: all 3s;}

.horizontal .prt .p-txt{position: absolute; bottom: 30px; left: 30%; font-size: 20px; font-weight: normal; letter-spacing: 5px; text-align: center;}

.horizontal .prt .p-site1:hover .st2{background-position: 200%;}

.horizontal .port2{background: url(../img/epart.jpg) no-repeat center top / cover; width: 100%; height: 100%;}
.horizontal .port3{background: url(../img/andersen.jpg) no-repeat center top / cover; width: 100%; height: 100%;}
.horizontal .port4{background: url(../img/f3.png) center top / cover; width: 100%; height: 100%;}

.horizontal .port2 .intro h2{font-size: 36px; letter-spacing: -1px; font-weight: normal; margin-bottom: 15px; color: #fff;}
.horizontal .port2 .intro .p1{font-size: 14px; letter-spacing: -1px; font-weight: normal; margin-bottom: 10px; color: #fff;}
.horizontal .port2 .intro .p2{font-size: 12px; letter-spacing: -1px; font-weight: normal; color: #fff;}

.horizontal .port3 .intro h2{font-size: 36px; letter-spacing: -1px; font-weight: normal; margin-bottom: 15px; color: #fff;}
.horizontal .port3 .intro .p1{font-size: 14px; letter-spacing: -1px; font-weight: normal; margin-bottom: 10px; color: #fff;}
.horizontal .port3 .intro .p2{font-size: 12px; letter-spacing: -1px; font-weight: normal; color: #fff;}

.horizontal .port2 .intro .web a{display: block; width: 70px; height: 20px; border: 1px solid #fff; text-align: center; line-height: 20px; font-size: 14px; position: absolute; top: 40px; right: 20px; transition: all 0.3s;  color: #fff;}
.horizontal .port2 .intro .web:hover a{background-color: transparent; color: #333;}
.horizontal .port2 .intro .des a, .port3 .intro .des a{display: block; width: 70px; height: 20px; border: 1px solid #fff; text-align: center; line-height: 20px; font-size: 14px; position: absolute; top: 70px; right: 20px; transition: all 0.3s; color: #fff;}
.horizontal .port2 .intro .des:hover a, .port3 .intro .des:hover a{background-color: #fff; color: #333;}
.horizontal .port2 .intro{width: 100%; height: 230px; background-color: rgba(255,255,255,0.3); padding-top: 30px; padding-left: 30px; border-bottom: 1px solid #fff;}
.horizontal .port2 .p-txt, .port3 .p-txt, .port4 .p-txt{margin-top: calc(100% - 300px);  font-size: 20px; font-weight: normal; letter-spacing: 5px; text-align: center; color: #fff;}

.horizontal .port3 .intro{width: 100%; height: 230px; background-color: rgba(255,255,255,0.3); padding-top: 30px; padding-left: 30px; border-bottom: 1px solid #fff;}
.horizontal .port3 .intro .web a{display: block; width: 70px; height: 20px; border: 1px solid #fff; text-align: center; line-height: 20px; font-size: 14px; position: absolute; top: 40px; right: 20px; transition: all 0.3s;  color: #fff;}
.horizontal .port3 .intro .web:hover a{background-color: #fff; color: #333;}

.horizontal .port2 .w-site1 .st1{position: absolute; left: 15px; top: 20px;  background: url(../img/epar.png) center top / cover; overflow: hidden; width: 370px; height: 180px; transition: all 3s;}
.horizontal .port2 .p-site1 .st2{position: absolute; right: 10px; top: 5px;  background: url(../img/epar-p.png) center top / cover; overflow: hidden; width: 80px; height: 170px; border-radius: 4%; transition: all 3s;}

.horizontal .port3 .w-site1 .st1{position: absolute; left: 15px; top: 20px;  background: url(../img/and.png) center top / cover; overflow: hidden; width: 370px; height: 180px; transition: all 3s;}
.horizontal .port3 .p-site1 .st2{position: absolute; right: 10px; top: 5px;  background: url(../img/and-p.png) center top / cover; overflow: hidden; width: 80px; height: 170px; border-radius: 4%; transition: all 3s;}

.horizontal .port4 .w-site1 .st1{position: absolute; left: 15px; top: 20px;  background: url(../img/conceptpage.png) center top / cover; overflow: hidden; width: 370px; height: 180px; transition: all 3s;}

.contact{width: 100%; height: 90vh; background-color: #222; z-index: 99; position: relative; padding: 50px;  text-align: center; color: #FFF;}
.contact .c-txt{font-size: 24px; letter-spacing: 5px; font-weight: normal; text-align: center; color: #555; margin-bottom: 80px;}
.contact .c-txt::before{content: ""; display: block; height: 50px; width: 1px; background-color: #333; margin-top: -50px; margin-left: 50%;}
.contact .c1{margin-top: 150px; font-size: 20px;  margin-bottom: 200px;}
.contact .c1 span{color: #FFF; font-weight: bold; letter-spacing: -1px;}
.contact address{color: #777; font-size: 12px;} 

.contact > .typing {height: 55px; justify-content: center; font-size: 16px;}
.contact > .typing .text{font-size: 40px; margin-left: .6rem; }

footer{width: 100%; height: 10vh; background-color: #222; border-top: 1px solid #ddd; padding: 40px; text-align: center;}
footer p{color: #ddd; font-size: 12px; font-style: italic; font-weight: normal;}


 
 
/*mobile*/

@media screen and (min-width : 768px) {

header{position: fixed; background-color: transparent; border-bottom: 1px solid transparent; z-index: 999;}
header .inner{width: calc(100% - 50px); margin: 0 auto; position: relative;}
header .inner h1{text-align: left;}
header .inner h1 a{color: #fff;}

header.scroll{background-color: #fff; -webkit-box-shadow: 1px 1px 5px 1px #999999; box-shadow: 1px 1px 5px 1px #999999;}
header.scroll .inner h1 a{color: #333;}
header.scroll .gnb-wrap .gnb li a{color: #333;}
header.scroll .line{width: 100%; height: 2px; background-color: #333; transform: scale(0); margin: 20px auto; transition: all 0.5s;}

header .mgnb-wrap{display: none;}
header .ham{display: none;}
header .gnb-wrap{display: block; position: absolute; top: 30px; right: 30px;}
header .gnb-wrap .gnb{display: flex; text-align: center; }
header .gnb-wrap .gnb li{width: 20%; height: 100%; margin-right: 30px;}
header .gnb-wrap .gnb li:last-child{margin-right: 0;}
header .gnb-wrap .gnb li a{text-align: center; display: inline-block; color: #fff;}
header .gnb-wrap .gnb li:hover a{font-weight: bold;}
.line{width: 100%; height: 2px; background-color: #fff; transform: scale(0); margin: 20px auto; transition: all 0.5s;}
header .gnb-wrap .gnb li:hover a + div{transform: scale(1);}

#main-visual{margin-top: 0;}

#about .inner{width: calc(100% - 60px); margin: 0 auto; position: relative;}
#about .inner .a-txt{font-size: 24px; letter-spacing: 5px; font-weight: normal; text-align: center; margin-bottom: 80px;}
#about .inner .a-txt::before{content: ""; display: block; width: 1px; height: 70px; background-color: #333; margin-left: 50%; padding-top: 20px;}
#about .inner .introduce{display: flex; margin-bottom: 80px;}
#about .inner .my-img{width: 250px; height: 250px; border-radius: 50%; /*background: url(../img/Untitled-2.png) no-repeat center center / cover;*/ background-color: #fff; border: 1px solid #333; margin-right: 120px;}
#about .inner .my-txt{font-size: 36px; color: #555; margin-top: 20px;}
#about .inner .my-txt span{color: #333; font-weight: bold;}
#about .inner .file{display: flex; flex-wrap: wrap; justify-content: space-between;}
#about .inner .file > li{margin-bottom: 100px; border-left: 1px solid #333; padding-left: 20px; width: 40%;}
#about .inner .file li h2{font-size: 32px; margin-bottom: 20px; letter-spacing: -1px;}
#about .inner .file li p{font-size: 16px; letter-spacing: -1px;}

.horizontal .prt .intro{width: 100%; height: 360px; background-color: rgba(255,255,255,0.3); padding-top: 100px; padding-left: 30px; border-bottom: 1px solid #333;}

.horizontal .prt .intro h2{font-size: 48px; letter-spacing: -1px; font-weight: normal; margin-bottom: 15px;}
.horizontal .prt .intro .p1{font-size: 20px; letter-spacing: -1px; font-weight: normal; margin-bottom: 10px;}
.horizontal .prt .intro .p2{font-size: 16px; letter-spacing: -1px; font-weight: normal;}
.horizontal .prt .intro .web a{display: block; width: 120px; height: 40px; border: 1px solid #333; text-align: center; line-height: 40px; font-size: 24px; position: absolute; top: 110px; right: 20px; transition: all 0.3s;}
.horizontal .prt .intro .web:hover a{background-color: #333; color: #fff;}
.horizontal .prt .intro .des a{display: block; width: 120px; height: 40px; border: 1px solid #333; text-align: center; line-height: 40px; font-size: 24px; position: absolute; top: 170px; right: 20px; transition: all 0.3s;}
.horizontal .prt .intro .des:hover a{background-color: #333; color: #fff;}

.horizontal .port2 .intro .web a{display: block; width: 120px; height: 40px; border: 1px solid #fff; text-align: center; line-height: 40px; font-size: 24px; position: absolute; top: 110px; right: 20px; transition: all 0.3s;}
.horizontal .port3 .intro .web a{display: block; width: 120px; height: 40px; border: 1px solid #fff; text-align: center; line-height: 40px; font-size: 24px; position: absolute; top: 110px; right: 20px; transition: all 0.3s;}
.horizontal .port2 .intro .des a{display: block; width: 120px; height: 40px; border: 1px solid #fff; text-align: center; line-height: 40px; font-size: 24px; position: absolute; top: 170px; right: 20px; transition: all 0.3s;}
.horizontal .port2 .intro .web:hover a{background-color: #fff; color: #333;}
.horizontal .port2 .intro .des:hover a{background-color: #fff; color: #333;}
.horizontal .port3 .intro .web:hover a{background-color: #fff; color: #333;}

.horizontal .prt .p-txt{position: absolute; bottom: 30px; left: 70%; font-size: 20px; font-weight: normal; letter-spacing: 5px; text-align: center;}


.horizontal .prt .w-site1{width: 600px; height: 480px; background: url(../img/Asset4.png) no-repeat center center / contain; position: absolute; top: 285px; left: 100px; margin-top: 220px;}
.horizontal .prt .w-site1 .st1{position: absolute; left: 15px; top: 50px;  background: url(../img/fr_screen.png) center top / cover; overflow: hidden; width: 570px; height: 280px; transition: all 3s;}

.horizontal .prt .p-site1{width: 150px; height: 230px; background: url(../img/Asset7.png) no-repeat center center / contain; position: absolute; top: 750px; right: 20px;}

.horizontal .prt .p-site1 .st2{position: absolute; right: 20px; top: 10px;  background: url(../img/ph-screen.png) center top / cover; overflow: hidden; width: 110px; height: 210px; border-radius: 4%; transition: all 3s;}

.horizontal .prt .p-txt{position: absolute; bottom: 30px; left: 70%; font-size: 20px; font-weight: normal; letter-spacing: 5px; text-align: center;}

.horizontal .port2 .w-site1 .st1{background-image: url(../img/epar.png);}
.horizontal .port2 .p-site1 .st2{background-image: url(../img/epar-p.png);}

.horizontal .port3 .w-site1 .st1{background-image: url(../img/and.png);}
.horizontal .port3 .p-site1 .st2{background-image: url(../img/and-p.png);}

.horizontal .port4 .w-site1 .st1{background-image: url(../img/conceptpage.png);}

.contact{width: 100%; height: 75vh;}
.contact .c1{margin-top: 150px; font-size: 20px;  margin-bottom: 200px; letter-spacing: 7px;}
.contact .c1 span{color: #FFF; font-weight: bold; letter-spacing: 7px;}
}

footer{width: 100%; height: 20vh; background-color: #222; border-top: 1px solid #ddd; padding: 40px; text-align: center; position: relative;}
footer p{color: #ddd; font-size: 12px; font-style: italic; font-weight: normal; position: absolute; bottom: 50%; left: 50%; transform: translate(-50%, -50%);}

/*tablet*/

@media screen and (min-width : 1024px) {

  header .inner h1{padding-left: 20px;}

  header .gnb-wrap .gnb li{width: 20%; height: 100%; margin-right: 50px;}
  header .gnb-wrap .gnb li a{text-align: center; display: inline-block; color: #fff; font-size: 20px;}


 #about{height: 80vh;}
 #about .inner{width: calc(100% - 500px); margin: 0 auto; position: relative;}
 #about .inner .a-box{display: flex; justify-content: space-between;}
 #about .inner .a-txt{font-size: 24px; letter-spacing: 5px; font-weight: normal; text-align: center; margin-bottom: 80px;}
 #about .inner .a-txt::before{content: ""; display: block; width: 1px; height: 70px; background-color: #333; margin-left: 50%; padding-top: 20px;}
 #about .inner .introduce{display: block; margin-bottom: 80px;}
 #about .inner .my-img{width: 200px; height: 200px; border-radius: 50%; /*background: url(../img/Untitled-2.png) no-repeat center center / cover;*/ background-color: #fff; border: 1px solid #333; margin-right: 250px; margin-left: 50px;}
 #about .inner .my-txt{font-size: 32px; color: #555; margin-top: 50px; margin-left: 20px; letter-spacing: -1px;}
 #about .inner .my-txt span{color: #333; font-weight: bold;}
 #about .inner .file{display: flex; flex-wrap: wrap; justify-content: space-between;}
 #about .inner .file > li{margin-bottom: 100px; border-left: 1px solid #333; padding-left: 20px; width: 40%;}
 #about .inner .file li h2{font-size: 32px; margin-bottom: 20px; letter-spacing: -1px;}
 #about .inner .file li p{font-size: 16px; letter-spacing: -1px;}

 #about .inner .icon li{width: 48px; height: 48px; margin-bottom: 20px; margin-right: 5px; background-repeat: center center; background-repeat: no-repeat; background-size: contain; border-left: none;}

 .horizontal .prt .intro{width: 25%; height: 100%; background-color: #fff; padding-top: 100px; padding-left: 30px; border-bottom: 1px solid #333; position: relative;}
 .horizontal .prt .intro::after{content: ""; display: block; 
  position: absolute; top: 0; left: 98%;
  width: 0;
  height: 0;
  border-top: 1200px solid #fff;
  border-bottom: 50px solid transparent;
  border-right: 250px solid transparent;
}

.horizontal .prt .w-site1{width: 600px; height: 480px; background: url(../img/Asset4.png) no-repeat center center / contain; position: absolute; top: 50px; left: 50%; margin-top: 220px;}
.horizontal .prt .p-site1{width: 150px; height: 230px; background: url(../img/Asset7.png) no-repeat center center / contain; position: absolute; top: 500px; right: 60px;}

.horizontal .prt .intro .web a{display: block; width: 120px; height: 40px; border: 1px solid #333; text-align: center; line-height: 40px; font-size: 24px; position: static; transition: all 0.3s; margin-top: 20px;}
.horizontal .prt .intro .web:hover a{background-color: #333; color: #fff;}
.horizontal .prt .intro .des a{display: block; width: 120px; height: 40px; border: 1px solid #333; text-align: center; line-height: 40px; font-size: 24px; position: static; transition: all 0.3s; margin-top: 20px;}
.horizontal .prt .intro .des:hover a{background-color: #333; color: #fff;}

.horizontal .port2 .intro .web a{border: 1px solid #333; color: #333;}
.horizontal .port3 .intro .web a{border: 1px solid #333; color: #333;}
.horizontal .port2 .intro .des a{border: 1px solid #333; color: #333;}


.horizontal .port2 .intro .web:hover a{background-color: transparent; color: #333;}
.horizontal .port2 .intro .des:hover a{background-color: transparent; color: #333;}
.horizontal .port3 .intro .web:hover a{background-color: transparent; color: #333;}

.horizontal .port3 .intro h2{color: #333;}
.horizontal .port2 .intro h2{color: #333;}
.horizontal .port2 .intro .p2{color: #333;}
.horizontal .port2 .intro .p1{color: #333;}
.horizontal .port3 .intro .p1{color: #333;}
.horizontal .port3 .intro .p2{color: #333;}

.horizontal .prt .p-txt{position: absolute; top: 100px; right: 0; font-size: 24px; font-weight: normal; letter-spacing: 10px; text-align: center;}

.horizontal .port2 .p-txt, .port3 .p-txt, .port4 .p-txt{position: absolute; top: 100px; right: 0; font-size: 24px; font-weight: normal; letter-spacing: 10px; text-align: center; color: #fff; height: 30px; display: inline-block; margin-top: 0;}
.horizontal .port4 .p-txt{color: #333;}

.contact .flexbox{display: flex;}
.contact .flexbox > div{width: 50%;}
.contact .typing{margin-top: 180px;}

}

/*Desktop*/